.org-logo {
  border-radius: 12px;
  background-image: url(http://companya.com:9999/static/logo.jpg);
}

body {
  background-image: url(http://companya.com:9999/static/background1.jpg);
}

.tnt-workflow-id,
.tnt-template-id,
.tnt-team-id {
  color: #ffffff;
}
.tnt-odd {
  background-color: rgba(255, 255, 255, 0.3);
}
