.talldiv {
    height: 2000px;
}

section {
    margin-top: 80px;
}

.lkh {
    font-size: 24px;
}

html {
    overscroll-behavior-x: none;
    overscroll-behavior-y: none;
    touch-action: manipulation;
}

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    height: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #e50000;
}

body {
    margin: 0;
    padding: 0;
}

.index_body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overscroll-behavior-x: none;
    touch-action: manipulation;
}

#coco_todo {
    padding: 0;
    border-radius: 15px !important;
}

#coco_inprogress {
    padding: 0;
    border-radius: 15px !important;
}

#coco_done {
    padding: 0;
    text-decoration: line-through wavy #ff0000cc;
    border-radius: 15px !important;
}

#coco_todo_title,
#coco_inprogress_title,
#coco_done_title,
#coco_chat_title {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 36px;
    text-align: center;
    font-size: 24px;
    color: #20201fc9;
    background-color: antiquewhite;
    border-radius: 15px 15px 0px 0px;
}

#coco_chat_title {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 36px;
    text-align: center;
    font-size: 24px;
    color: #20201fc9;
    background-color: aqua;
    border-radius: 15px 15px 0px 0px;
}

#coco_todo_list,
#coco_inprogress_list,
#coco_done_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 36px);
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 36px;
    overflow-x: auto;
    overflow-y: scroll;
}

#coco_chat {
    z-index: 10 !important;
    border-radius: 15px !important;
    display: flex;
    padding: 2px;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    position: absolute;
    top: 88px;
    left: 86px;
    width: 256px;
    height: 512px;
    background-color: aquamarine !important;
}

#coco_chat_list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 36px);
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 36px;
    overflow-x: auto;
    overflow-y: scroll;
}

.todo_item {
    padding-left: 5px;
    height: 1.5em;
    font-size: 1em;
    display: flex;
}

.todo_item .current {
    -webkit-box-shadow: 0px 1px 2px 2px #888888 !important;
    -moz-box-shadow: 0px 1px 2px 2px #888888 !important;
    box-shadow: 0px 1px 20px 2px #888888 !important;
    border-radius: 10px !important;
}

.prg {
    position: absolute;
    height: inherit;
    z-index: -1;
}

.todo_item[prg="0"] .prg {
    width: 1px;
}

.todo_item[prg="1"] .prg {
    width: 10px;
    background-color: #ff0000;
}

.todo_item[prg="10"] .prg {
    width: 10%;
    background-color: #ff3300;
}

.todo_item[prg="20"] .prg {
    width: 20%;
    background-color: #ff6600;
}

.todo_item[prg="30"] .prg {
    width: 30%;
    background-color: #ff9900;
}

.todo_item[prg="40"] .prg {
    width: 40%;
    background-color: #ffcc00;
}

.todo_item[prg="50"] .prg {
    width: 50%;
    background-color: #ffff00;
}

.todo_item[prg="60"] .prg {
    width: 60%;
    background-color: #ccff00;
}

.todo_item[prg="70"] .prg {
    width: 70%;
    background-color: #99ff00;
}

.todo_item[prg="80"] .prg {
    width: 80%;
    background-color: #66ff00;
}

.todo_item[prg="90"] .prg {
    width: 90%;
    background-color: #00ff00;
}

.todo_item[prg="100"] .prg {
    background-color: #00ff00;
}

#coco_todo_list .todo_item:hover {
    border-radius: 10px;
    border: 1px solid #e5dbff;
}

#coco_inprogress_list .todo_item:hover {
    border-radius: 10px;
    border: 1px solid #979751;
}

#coco_done_list .todo_item:hover {
    border-radius: 10px;
    border: 1px solid #18d62f;
}

#chatitem_option {
    z-index: 5;
    background-color: aqua;
    border: 1px solid #333333;
    border-radius: 5px;
    position: absolute;
    width: 200px;
    height: 30px;
    overflow-x: auto;
    display: flex;
    flex-wrap: wrap;
}

#chatitem_option:hover {
    background-color: #6635e2;
    color: white;
}

#todo_option {
    background-color: aqua;
    border: 1px solid #333333;
    border-radius: 5px;
    position: absolute;
    width: 200px;
    height: 180px;
    overflow-x: auto;
    display: flex;
    flex-wrap: wrap;
    z-index: 5;
}

#todo_option div {
    width: 50px;
    height: 30px;
    text-align: center;
    flex-grow: 1;
}

#todo_option div:hover {
    border-radius: 5px;
    background-color: #6635e2;
    color: white;
}

.todolabel {
    overflow: hidden;
}

.progress_halfmenu {
    width: 50% !important;
    text-align: center !important;
    align-content: center !important;
    font-size: 18px;
    font-weight: 400;
}

.progress_title {
    width: 100% !important;
    text-align: center !important;
    align-content: center !important;
    font-size: 18px;
    font-weight: 700;
    background-color: navajowhite;
}

.progress_title :hover {
    background-color: aqua;
}

input::-webkit-input-placeholder {
    color: #c8c3e379 !important;
    font-size: 18px !important;
}

input::-ms-input-placeholder {
    color: #c8c3e379 !important;
    font-size: 18px !important;
}

input::placeholder {
    color: #c8c3e379 !important;
    font-size: 18px !important;
}

.tab-space {
    margin-top: 50px;
}

.logo-style {
    font-size: 28px;
    color: #333333;
}

.leftbkg {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 500px;
    height: 100vh;
    /* background-color: red; */
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("http://localhost:8191/frontend/assets/leftbkg.svg");
}

.left_scenarios {
    position: absolute;
    top: 100px;
    left: 0px;
    width: 200px;
    height: 100%;
    display: none;
}

.left_top_logo {
    position: absolute;
    left: 20px;
    top: 10px;
    z-index: 10;
    display: flex;
    flex-direction: row;
}

.left_top_logo img {
    height: 100px;
    margin-right: 10px;
}

.left_top_image {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    opacity: 0.3;
}

.signin-button-tr {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
}

.signin-button {
    width: 50%;
}

.signinform {
    position: absolute;
    width: 98%;
    height: 500px;
    top: 120px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.signinform input,
.registerform input {
    font-family: monospace;
    font-size: 20px;
    border-radius: 20px;
    background-color: #c2eebfd9;
}

.signinform {
    position: absolute;
    width: 400px;
    height: 500px;
    top: 120px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.signinform input,
.registerform input {
    font-family: monospace;
    font-size: 20px;
    border-radius: 20px;
    background-color: #c2eebfd9;
}

.signinform input::-webkit-input-placeholder {
    /* Edge */
    color: #b8b3d3c9;
    font-size: 18px;
}

.signinform input::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #b8b3d3c9;
    font-size: 18px;
}

.signinform input::placeholder {
    color: #b8b3d3c9;
    font-size: 18px;
}

.registerform input::-webkit-input-placeholder {
    /* Edge */
    color: #b8b3d3c9;
    font-size: 18px;
}

.registerform input::-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #b8b3d3c9;
    font-size: 18px;
}

.registerform input::placeholder {
    color: #b8b3d3c9;
    font-size: 18px;
}

/* 
.registerform input#regUserId{
  background-image: url("http://localhost:8191/frontend/assets/email.svg");
}
.registerform input#regUserName{
  background-image: url("http://localhost:8191/frontend/assets/name-tag.svg");
}
.registerform input#regUserPwd{
  background-image: url("http://localhost:8191/frontend/assets/pwd.svg");
}
.registerform input#regUserPwd2{
  background-image: url("http://localhost:8191/frontend/assets/pwd.svg");
}  */

.signinform .right-eye,
.registerform .right-eye {
    border-radius: 20px;
    border: 1px solid #ced4da;
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #c2eebfd9;
}

.fontFancyColor {
    color: #20201fc9;
}

.toplogo {
    position: absolute;
    top: 15px;
    left: 15px;
    padding-right: 10px;
    cursor: pointer;
}

.leftSwitch {
    z-index: 10000000;
    position: absolute;
    top: 55px;
    left: -20px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #656bff;
    display: flex;
    justify-content: flex-end;
}

.rightSwitch {
    z-index: 10000000;
    position: absolute;
    top: 55px;
    right: -20px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #656bff;
}

.minimapSwitch {
    z-index: 10000001;
    position: absolute;
    bottom: 55px;
    right: -20px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #656bff;
}

.toplogo-mobile {
    position: absolute;
    top: 15px;
    left: 15px;
    padding-right: 10px;
    cursor: pointer;
}

#top {
    position: absolute;
    top: 5px;
    left: 120px;
    width: 100%;
    padding-right: 10px;
}

#leftPanel {
    position: absolute;
    top: 100px;
    left: 10px;
    width: 50px;
    height: 450px;
    box-shadow: 0 4px 8px 0 #000000cc, 0 6px 20px 0 #000000cc;
    border-radius: 15px;
}

.toolbox {
    height: 32px !important;
    padding-left: 8px !important;
    padding-right: 3px !important;
}

.toolbox img {
    height: 28px;
    width: 28px;
}

#mdNote {
    padding: 0px;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 #000000cc, 0 6px 20px 0 #000000cc;
    position: absolute;
    top: 70px;
    right: 0px;
    width: 30vw;
    height: 100vh;
    border: 1px solid #0000004c;
    z-index: 999999999;
}

.stayright {
    text-align: right;
    justify-content: right;
    right: 300px;
    position: absolute;
    top: 0px;
}

.toolbar {
    width: 16px;
    height: 16px;
}

#rtcontrol {
    position: absolute;
    top: 5px;
    right: 5px;
}

#rtcontrol img {
    width: 18px;
    height: 18px;
}

#actionlog_button {
    position: absolute;
    top: 5px;
    right: 290px;
}

#actionloglist {
    padding: 5px;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 #000000cc, 0 6px 20px 0 #000000cc;
    position: absolute;
    top: 100px;
    right: 5px;
    width: 240px;
    height: calc(100vh - 200px);
    border: 1px solid #000000cc;
    border-radius: 15px;
    z-index: 999;
}

#actionlog-close {
    position: absolute;
    top: 5px;
    right: 15px;
}

#actionlog-refresh {
    position: absolute;
    top: 5px;
    right: 70px;
}

#gotodesignercontrol {
    position: absolute;
    top: 5px;
    left: calc(100vw - 365px);
}

.logo {
    height: 60px;
}

.logo-mobile {
    height: 30px;
}

.cocologo {
    width: 36px;
    height: 36px;
}

#large-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#S1 {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0px;
    border: 0px solid grey;
    position: absolute;
    left: 0px;
    top: 0px;
}

.grid1 {
    background-image: url("http://localhost:8191/frontend/assets/grid1.svg");
    background-size: 20px 20px;
}

.grid2 {
    background-image: url("http://localhost:8191/frontend/assets/grid2.svg");
    background-size: 20px 20px;
}

.liukehong1 {
    background: red;
}

.ui-resizable-se {
    bottom: 17px;
}

.ui-state-hover {
    color: blueviolet;
}

.ui-state-active {
    color: blueviolet;
}

.msgarea {
    white-space: nowrap;
    font-size: 24px;
    z-index: 1000;
    color: #ffffff;
    position: absolute;
    right: 0px;
    top: 50px;
    width: fit-content;
    margin-top: 8px;
    padding: 0px 15px 0px 15px;
    border-radius: 20px 0px 0px 20px;
    background-color: #28a745;
    border: 1px solid #00000045;
}

.cocopadbg {
    background: red;
}

.btn.btn-outline-primary.sharp {
    background-color: #c2fffb !important;
    border-color: #c2fffb !important;
}

.boundingrect {
    z-index: 0;
    border-radius: 20px;
    background-color: #0000004c;
    border-color: red;
    border-width: 1px;
    border-style: dotted;
    position: absolute;
    left: 300px;
    top: 300px;
    width: 300px;
    height: 300px;
    display: none;
}

.cocoproperty .col {
    font-size: 14px;
    background-color: "#333333";
    padding-left: 0px;
}

.property-content {
    padding-left: 5px;
    padding-right: 5px;
}

.coco select {
    width: 100px !important;
    height: 24px !important;
    font-size: 14px;
}

.coco {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.coco .col {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.coco .sp-replacer {
    width: 100px !important;
    height: 24px !important;
}

.coco .ui-spinner {
    width: 100px !important;
    height: 24px !important;
}

.coco .font-picker {
    width: 100px !important;
    height: 24px !important;
    font-size: 12px !important;
    padding: 0px 30px 0px 0px !important;
}

.coco select {
    margin: 0px;
    padding: 0px 0px 0px 5px;
}

.btn-group.coco {
    background-color: white;
    box-shadow: 0 4px 8px 0 #0000004c, 0 6px 20px 0 #0000004c;
    border-radius: 10px;
}

svg path {
    fill: "#000000";
}

.yellowtip {
    fill: "#000000";
}

.editors_none {
    display: none;
}

.editors_last {
    position: absolute;
    font-size: 10px;
    bottom: -18px;
    /* - height */
    left: 10px;
    height: 18px;
    overflow: hidden;
}

.cocoeditors {
    font-family: "monospace";
    font-weight: "normal";
    font-size: 10px;
    position: absolute;
    bottom: -20px;
    /* - height */
    left: 0px;
    width: 100%;
    height: 18px;
    overflow: show;
    text-align: right;
    color: black;
    background-color: #c2c2f3;
    border-radius: 5px;
    padding: 0px 2px 0px 2px;
}

.lastcocoeditor {
    font-family: "monospace";
    font-weight: "normal";
    font-size: 10px;
    position: absolute;
    bottom: -20px;
    /* - height */
    right: 0px;
    height: 18px;
    overflow: hidden;
    text-align: right;
    color: black;
    background-color: #e5dbff;
    border-radius: 5px;
    padding: 0px 2px 0px 2px;
}

.shadow1 {
    box-shadow: -1px 0 5px #8e8eff, 0 1px 5px #8e8eff, 1px 0 5px #8e8eff,
        0 -1px 5px #8e8eff;
}

.shadow2 {
    box-shadow: -1px 0 5px #8e8eff, 0 1px 5px #8e8eff, 1px 0 5px #8e8eff,
        0 -1px 5px #8e8eff;
}

.selected {
    -webkit-box-shadow: -1px 2px 5px 10px #3e3ecc;
    -moz-box-shadow: -1px 2px 5px 10px #8e8eff;
    box-shadow: 0 0 10px 5px blue;
}

.hover {
    box-shadow: inset 0px 0px 5px 2px #8e8eff;
}

.waitinglogo {
    width: 100%;
    height: 100px;
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999999999;
}

.waitinglogo .logo {
    width: 64px;
    height: 64px;
    animation: jelloround 3s;
    animation-iteration-count: infinite;
    border-radius: 5px;
}

@keyframes jelloround {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.present-mask {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999999998;
    width: 100%;
    height: 100%;
}

.black-mask {
    background-color: #000000;
}

.white-mask {
    background-color: #ffffff;
}

.reconnect-mask {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999999998;
    width: 100%;
    height: 100%;
    background-color: #0000004d;
}

.reconnect-msg {
    display: flex;
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0px;
    bottom: 200px;
}

.reconnect-mask p {
    margin: auto;
    text-align: center;
    background-color: cyan;
}

.padlayout {
    z-index: 999;
}

.padlogo {
    z-index: 999;
}

.nodisplay {
    display: none !important;
}

.displayblock {
    display: block;
}

.noshow {
    visibility: hidden;
}

.showAfterInit {
    visibility: hidden;
}

.showAfterColumnLoad {
    visibility: hidden;
}

.registerform-outer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 99999;
    position: absolute;
    top: 0px;
    left: 0px;
}

.registerform {
    position: absolute;
    width: 400px;
    height: 500px;
    background-color: transparent;
    z-index: 99999;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.no-right-border {
    border-right-width: 0px !important;
}

.no-padding {
    padding: 0px !important;
}

.profileform .right-eye {
    border: 1px solid #ced4da;
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #c2eebfd9;
}

.office-form .right-eye {
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: #c2eebfd9;
}

input#regUserCode {
    font-size: 26px;
    padding-left: 5px;
    text-align: center;
}

.columnpage {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: scroll;
}

.columnpage #columndocs {
    position: absolute;
    top: 120px;
    left: 100px;
}

.column_doc img {
    width: 100%;
}

.mycolumn .column_name {
    font-size: 24px;
}

.column_owner_avatar {
    width: 48px;
}

.explorer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    /* height: 100vh; */
    display: flex;
}

.explorer .inner {
    /*距离顶部100px, 左右两侧等距(auto)*/
    position: absolute;
    top: 110px;
    left: 50%;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    background-color: #ffffff;
    /*最大1000px, 窗口宽度的90%*/
    width: min(99vw, 1000px);
    /* height: calc(100vh - 120px); */
    /* padding: 20px; */
    border-radius: 5px;
}

.explorer .inner .tab-pane {
    padding: 0px;
}

.explorer .inner .card {
    background-color: #ffffffbb;
}

.explorer-navbar {
    height: 30px;
}

.explorer-navbar .bigger {
    font-size: 24px;
}

.explorer-content {
    width: 100%;
    height: calc(100% - 30px);
}

.explorer-content .tab-content {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.explorer-user-avatar {
    position: relative;
    width: 80px;
    height: 80px;
    top: -20px;
    right: 0px;
}

.explorer-user-orgname {
    position: absolute;
    right: 20px;
    top: 20px;
}

#app {
    width: 100%;
    height: 100%;
}

#tabs-main {
    width: 100%;
    height: 100%;
}

.custom-select {
    background: #ffffff !important;
}

.borderless {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-width: 0px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none !important;
    outline: none !important;
    background: transparent !important;
}

.borderless:focus {
    outline: none !important;
}

select:focus {
    border: none !important;
    outline: none !important;
}

#mobile-docname {
    position: absolute;
    top: 0px;
    left: 5px;
    font-size: 12px;
    z-index: 100000;
}

#docHeaderInfo {
}

.loading.yiq-black {
    color: #333333 !important;
}

.loading.yiq-white {
    color: white !important;
}

.docname {
    font-size: 24px;
    color: white;
    padding-left: 5px;
    background-color: #4b92db;
    border-radius: 10px 10px 0px 0px;
    cursor: pointer;
}

.docpeople {
    font-size: 16px;
    color: #777777;
    padding-top: 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.chat_reddot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: red;
    position: relative;
    left: -10px;
}

.jelloOnce {
    animation: jellosmall 1s;
    animation-iteration-count: 3;
}

.chat_todo {
    display: flex;
    width: 100%;
}

.chat_todo .chat-button {
    justify-self: flex-start;
    width: 100%;
    align-self: center;
    align-content: center;
    text-align: center;
}

.chat_todo .todo-button {
    justify-self: flex-end;
    width: 100%;
    align-content: center;
    text-align: center;
}

.docpeople img {
    margin-left: 10px;
    margin-right: 3px;
    width: 24px;
    height: 24px;
}

.docpeople svg {
    margin-left: 10px;
    margin-right: 3px;
    width: 24px;
    height: 24px;
}

.docpeople .userinfo {
    transform: translate(0px, 0px);
}

.docpeople .btn-link {
    font-size: 16px;
    color: #555555;
}

.docpeople .dropdown-menu {
    background-color: #ffffffff;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.docnav {
    font-size: 14px;
}

.docnav img {
    width: 48px;
    height: 48px;
}

.shareItTips {
    font-size: 20px;
    justify-content: center;
    text-align: center;
}

.userbadge {
    font-family: "monospace";
    font-size: 18px;
    position: absolute;
    white-space: nowrap;
    width: fit-content;
    z-index: 99999998;
    border: 1px solid #ffffff;
    border-radius: 20px;
    padding: 5px;
}

.userbadge_0 {
    color: #ffffff;
    background-color: #3f6c45;
}

.userbadge_1 {
    color: #ffffff;
    background-color: #cb0000;
}

.userbadge_2 {
    color: #ffffff;
    background-color: #6e6702;
}

.userbadge_3 {
    color: #ffffff;
    background-color: #db9501;
}

.userbadge_4 {
    color: #ffffff;
    background-color: #2d4262;
}

.userbadge_5 {
    color: #ffffff;
    background-color: #aa8538;
}

.userbadge_6 {
    color: #ffffff;
    background-color: #4b7447;
}

.userbadge_7 {
    color: #ffffff;
    background-color: #4f6457;
}

.userbadge_8 {
    color: #ffffff;
    background-color: #063852;
}

.userbadge_9 {
    color: #ffffff;
    background-color: #5d535e;
}

.userbadge_10 {
    color: #ffffff;
    background-color: #1995ad;
}

.userbadge_11 {
    color: #ffffff;
    background-color: #9b4f0f;
}

.userbadge_12 {
    color: #ffffff;
    background-color: #8d230f;
}

.userbadge_13 {
    color: #ffffff;
    background-color: #324851;
}

.locklabel {
    position: absolute;
    top: 0px;
    left: calc(50% - 5px);
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-image: url("http://localhost:8191/frontend/assets/dot.svg");
}

.avatar-in-line {
    width: 28px;
    height: 28px;
}

.avatar-selected {
    border-radius: 20px;
    border: 1px solid #aaa;
    background-color: #62f2466c;
}

.avatar-active {
    border-radius: 20px;
    background-color: #e5dbff;
}

.centerpoint {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: red;
    z-index: 999999;
}

.child {
    position: absolute;
    height: 200px;
    width: 100px;
    background-color: #afbbc6;
    cursor: move;
}

#readonlyDesc {
    position: absolute;
    bottom: 25px;
    left: 5px;
    background-color: #eeeeee69;
    border: 1px solid #aaa;
    z-index: 100;
}

#system_message {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background-color: #eeeeee39;
    z-index: 102;
    align-items: center;
    justify-content: center;
}


#minimap {
    position: absolute;
    width: 240px;
    height: 120px;
    /* 20% of A4*/
    bottom: 5px;
    left: 5px;
    background-color: #eee;
    border: 1px solid #aaa;
    opacity: 0.7;
    z-index: 10000000;
}

.minimap-node {
    position: absolute;
    background-color: #607a86;
}

.minimap-viewport {
    position: absolute;
    box-sizing: border-box;
    background-color: #4f6f7e66;
    z-index: 1000000000;
    cursor: move;
}

.kfknode img {
    width: 100%;
    height: 100%;
}

.page-title {
    font-size: 18px;
    font-weight: bold;
}

.loading {
    position: absolute;
    bottom: 40px;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: transparent;
    font-size: 36px;
    font-family: Consolas, "Courier New", Courier, FreeMono, monospace;
    font-weight: bolder;
    color: #91aef5;
    z-index: 9999;
}

.mask {
    z-index: 999999999;
    background-color: #ffffff03;
    position: absolute;
    left: 0px;
    top: 0px;
}

.eraser {
    width: 100px;
    height: 100px;
}

#C1 {
    left: 0px;
    top: 0px;
    width: 6720px;
    height: 4800px;
    background-color: #00000022;
    overflow: auto;
    margin: 0px;
    position: absolute;
}

#overallbackground {
    width: 100vw;
    height: 100vh;
    background-color: #e0e0e0;
    z-index: -1000000;
}

#C9 {
    left: 840px;
    top: 600px;
    width: 5040px;
    height: 3600px;
    z-index: -1;
    user-select: none;
    position: absolute;
    outline: none;
    background-color: #ffffff22;
}

#containerbkg {
    left: 840px;
    top: 600px;
    width: 5040px;
    height: 3600px;
    z-index: 1;
    user-select: none;
    position: absolute;
    outline: none;
    overflow: hidden;
    position: absolute;
}

#C3 {
    left: 840px;
    top: 600px;
    width: 5040px;
    height: 3600px;
    z-index: 2;
    user-select: none;
    position: absolute;
    outline: none;
}

.brsnode {
    background-position: 0px 0px;
    background-repeat: repeat-x;
    background-size: 100% 100%;
    background-image: url("http://localhost:8191/frontend/assets/brain.svg");
    animation: jellosmall 5s;
    animation-iteration-count: infinite;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

@keyframes progress1 {
    from {
        width: 0;
    }

    to {
        width: 20px;
    }
}

@keyframes progress2 {
    from {
        width: 0;
    }

    to {
        width: 60px;
    }
}

@keyframes progress3 {
    from {
        width: 0;
    }

    to {
        width: 10px;
    }
}

.selectingrect {
    z-index: 3;
    border-radius: 0px;
    background-color: #0000004c;
    border-width: 4px;
    border-style: dotted;
    position: absolute;
    left: 300px;
    top: 300px;
    width: 300px;
    height: 300px;
    display: none;
}

#modeIndicator {
    z-index: 4;
}

.chat_item {
    display: flex;
    margin-top: 5px;
}

.chatname {
    white-space: nowrap;
    font-size: 8px;
}

.chat_item.me {
    align-self: flex-end;
}

.chat_item.me .chatmsg {
    margin-right: 5px;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
    background-color: #28a745;
    color: black;
}

.chat_item.other .chatmsg {
    margin-left: 5px;
    padding: 0px 5px 0px 5px;
    border-radius: 5px;
    background-color: #666666;
    color: white;
}

.chatavatar {
    width: 36px !important;
    height: 36px !important;
}

#linetransformer {
    position: absolute;
    top: 10px;
    height: 10px;
    width: 20px;
    height: 20px;
    z-index: 5;
}

input {
    outline: none !important;
}

*:focus {
    outline: none !important;
}

.invalid-feedback {
    color: black;
}

.cocohighlight-1 {
    background-color: #00000045;
}

.cocohighlight-2 {
    background-color: #e5dbff;
    padding: 2px 10px 2px 10px;
    border-radius: 20px;
}

.cocohighlight-3 {
    background-color: #e5dbff;
    padding: 0px 0px 0px 0px;
}

.inner-help {
    font-size: 12px;
}

.doc-owner-width {
    width: 80px !important;
    white-space: nowrap;
    overflow: hidden;
    font-size: 12px;
}

.doc-name-width {
    width: min(100%, 300px) !important;
    padding-left: 30px !important;
    padding-right: 0px !important;
    overflow: hidden;
    position: relative;
    margin: 0px 0px !important;
}

.doc-name-width .doc-name-inner {
    width: 100%;
    height: 100%;
    overflow: auto;
    white-space: nowrap;
    padding-right: 0px;
}

.doc-name-inner {
    height: 60px !important;
}

.doc-acl-width {
    white-space: nowrap;
}

.doc-acl-S {
    background-color: #007bff;
}

.doc-acl-O {
    background-color: #28a745;
}

.doc-acl-P {
    background-color: #ffc107;
}

.docopmenu {
    position: absolute;
    z-index: 999999;
    top: 0px;
    left: 0px;
    width: 120px;
    height: 130px;
    background-color: transparent;
    border: 0px solid #aaa;
}

.docopmenu .btn {
    padding-right: 5px !important;
}

.docopmenu_main {
    top: 0px;
    left: 0px;
    border: 1px solid #aaa;
    width: 120px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 10px;
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 2;
    position: absolute;
    box-shadow: 0 4px 8px 0 #000000cc 0 6px 20px 0 #000000cc;
}

.docopmenu_pointer {
    position: absolute;
    background-color: #fff;
    border: 1px solid #aaa;
    width: 20px;
    height: 20px;
    top: 5px;
    right: -5px;
    transform: rotateZ(45deg);
    z-index: 1;
    box-shadow: 0 4px 8px 0 #0000004c 0 6px 20px 0 #000000cc;
}

.myhovered:hover {
    border-radius: 20px;
    background-color: #e5dbff;
}

.myhovered {
    white-space: nowrap;
}

#mic-option div {
    font-size: 10px;
}

#camera-option div {
    font-size: 10px;
}

.simplehover:hover {
    background-color: aqua;
}

.opicon:hover {
    transform-origin: center;
    transform: scale(1.5);
}

.my-doc-table td {
    padding: 0px !important;
}

.share-it-url {
    font-family: monospace;
    font-size: xx-small;
    background-color: whitesmoke;
}

table.quick-help-table {
    border: 1px solid #3e3ecc;
}

table.quick-help-table .title {
    background-color: #e5dbff;
    font-weight: bolder;
}

table.quick-help-table tr {
    border: 1px solid #e5dbffcc;
}

table.quick-help-table td:first-of-type {
    border: 1px solid #e5dbff;
    background-color: #f5fbff22;
}

/* 
.ql-container.ql-snow{
  border: 0px !important;
}*/

.ql-container {
    position: absolute !important;
    top: 0px;
}

.ql-toolbar {
    background-color: aqua;
    position: relative;
    transform: translate(0%, -100%);
    z-index: 99999;
}

.browser-warning {
    position: absolute;
    bottom: 2px;
    right: 2px;
    font-size: 12px;
}

.quilling-by {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-family: "monospace";
    font-size: 10px;
    white-space: nowrap;
    width: fit-content;
    height: fit-content;
    z-index: 99999998;
    border-radius: 5px;
    background-color: aqua;
    animation: jello 1s;
    animation-iteration-count: infinite;
}

.ql-editor-pointer > * {
    cursor: pointer !important;
}

@keyframes jello {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes jellosmall {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.color-dynamic-black {
    color: black;
}

.color-dynamic-white {
    color: white;
}

.showFirstTimeHelp {
    position: absolute;
    right: 100px;
}

/* use a hand cursor intead of arrow for the action buttons */

.filepond--file-action-button {
    cursor: pointer;
}

/* the text color of the drop label*/

.filepond--drop-label {
    color: #555;
}

/* underline color for "Browse" button */

.filepond--label-action {
    text-decoration-color: #aaa;
}

/* the background color of the filepond drop area */

.filepond--panel-root {
    background-color: #eee;
}

/* the border radius of the drop area */

.filepond--panel-root {
    border-radius: 0.5em;
}

/* the border radius of the file item */

.filepond--item-panel {
    border-radius: 0.5em;
}

/* the background color of the file and file panel (used when dropping an image) */

.filepond--item-panel {
    background-color: #555;
}

/* the background color of the drop circle */

.filepond--drip-blob {
    background-color: #999;
}

/* the background color of the black action buttons */

.filepond--file-action-button {
    background-color: rgba(0, 0, 0, 0.5);
}

/* the icon color of the black action buttons */

.filepond--file-action-button {
    color: white;
}

/* the color of the focus ring */

.filepond--file-action-button:hover,
.filepond--file-action-button:focus {
    box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.9);
}

/* the text color of the file status and info labels */

.filepond--file {
    color: white;
}

/* error state color */

[data-filepond-item-state*="error"] .filepond--item-panel,
[data-filepond-item-state*="invalid"] .filepond--item-panel {
    background-color: red;
}

[data-filepond-item-state="processing-complete"] .filepond--item-panel {
    background-color: green;
}

/* bordered drop area */

.filepond--panel-root {
    background-color: transparent;
    border: 2px solid #2c3340;
}

.filepond--root {
    max-height: 10em;
}

.ossimage {
    z-index: -1;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.libray {
    height: 100px;
}

.msgInputWindow {
    position: absolute;
    z-index: 10000020;
    width: 100%;
    height: 30px;
    left: 50%;
    bottom: 30px;
    margin: 0px;
    border-radius: 0px;
    display: flex;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    -o-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.round-input {
    border-radius: 20px;
}

.msgInputInner {
    border-radius: 5px;
    background-color: white;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.matlib-topick {
    position: absolute;
    z-index: 10000030;
    /*higher than minimap */
    left: 0px;
    bottom: 0px;
    margin: 5px;
    border-radius: 10px;
    display: flex;
    width: 100%;
    height: 80px;
    background-color: aqua;
    overflow-y: hidden;
    overflow-x: scroll;
    align-items: center;
    justify-content: center;
}

.matlib-topick img {
    height: 60px;
    padding-left: 2px;
}

.matlib-topick img:hover {
    border: 4px solid #74aef1;
    border-radius: 5px;
    transform-origin: center;
    transform: scale(1.2);
}

.matlib-title {
    z-index: -1;
    position: absolute;
    left: 5px;
    bottom: 5px;
}

.inputImg {
    width: 40px;
    height: 24px;
}

.opqrcode_in_share {
    width: 150px;
    height: 150px;
}

/* begin: Weibo.com paste css fix */
.pastedHtml img {
    max-width: 40px;
    max-height: 40px;
}

.pastedHtml .face {
    width: 18px;
    height: 18px;
}

.s-color-red {
    color: red;
}

/* end: Weibo.com paste css fix */

#lineExpand {
    position: absolute;
    top: 100px;
    left: 65px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 0 0.125em rgba(255, 255, 255, 0.9);
    z-index: 100000;
}

#lineExpand div {
    padding: bottom 5px;
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 5px;
}

#lineExpand div:hover {
    background-color: aqua;
}

#shape_line {
    background-image: url("http://localhost:8191/frontend/assets/line.svg");
}

#shape_rectangle {
    background-image: url("http://localhost:8191/frontend/assets/rectangle.svg");
}

#shape_ellipse {
    background-image: url("http://localhost:8191/frontend/assets/ellipse.svg");
}

#shape_polyline {
    background-image: url("http://localhost:8191/frontend/assets/polyline.svg");
}

#shape_polygon {
    background-image: url("http://localhost:8191/frontend/assets/polygon.svg");
}

#shape_freehand {
    background-image: url("http://localhost:8191/frontend/assets/freehand.svg");
}

.login-button-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner_image {
    width: 100%;
    height: 100%;
}

.inner_richtext {
    border: 0px solid #ccc !important;
}

.inner_yellowtip {
    padding: 4px !important;
}

a {
    color: #333366;
}

a:hover {
    text-decoration: none;
}

.btn-primary {
    background-color: #4b92db;
    border-color: #4b92db;
}

#interLinkDialog {
    z-index: 5000;
    position: absolute;
    top: 100px;
    left: 90px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 1px 20px 2px #888888 !important;
}

.commenter {
    font-size: 10px;
}

.connect1_normal {
    fill: none;
    stroke-width: 2;
    stroke: #4b92db;
}

.connect1_hover {
    fill: none;
    stroke-width: 10;
    stroke: #4bdb92;
}

.two-cols {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0px;
}

.toolbox-half {
    width: 100px;
}

.toolbox-half img {
    width: 100%;
}

.node_button_area {
    position: absolute;
    top: 0px;
    right: -24px;
    width: 24px;
    height: 100%;
    padding-left: 5px;
}

.jump {
    width: 24px;
    height: 24px;
    border-radius: 6px;
    background-image: url("http://localhost:8191/frontend/assets/jumpto.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: white;
}

.jumpremove {
    width: 24px;
    height: 24px;
    margin-top: 4px;
    border-radius: 6px;
    background-image: url("http://localhost:8191/frontend/assets/jumpremove.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: white;
}

.addjump {
    position: absolute;
    top: 30px;
    right: -24px;
    width: 24px;
    height: 18px;
    border-radius: 6px;
}

.nodeMessage {
    position: absolute;
    top: -18px;
    left: 0px;
    background-color: aqua;
    font-size: 14px;
    height: 18px;
    border-radius: 6px;
    white-space: nowrap;
    width: fit-content;
    padding: 0px 5px 0px 5px;
}

.shortcutkey {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 10px;
}

.clickable {
    cursor: pointer;
}

.custom_header {
    width: 100vw;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999999999999999;
}

.custom_header_small {
    width: 100;
    position: fixed;
    top: 0px;
    right: 0px;
    z-index: 9999999999999999;
}

.ec_button {
    width: 24px;
    height: 24px;
    border-radius: 12px;
}

.ec_expanded {
    background-color: green;
    background-color: blue;
    background-image: url("http://localhost:8191/frontend/assets/minus.svg");
}

.ec_collapsed {
    background-color: blue;
    background-image: url("http://localhost:8191/frontend/assets/add.svg");
}

.ecpos0 {
    left: -26px;
    top: calc(50% - 12px);
}

.ecpos1 {
    left: calc(50% - 12px);
    top: -26px;
}

.ecpos2 {
    right: -26px;
    top: calc(50% - 12px);
}

.ecpos3 {
    left: calc(50% - 12px);
    bottom: -26px;
}

.textblock {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    font-size: 24px;
}

.tabbg {
    background-color: #d2e1ef;
}

.node {
    position: absolute;
    width: 32px;
    height: 32px;
    border: 2px solid #969696;
    box-shadow: inset 0px 0px 0px 1px #969696;
    box-sizing: border-box;
    border-radius: 15px;
}
.node:hover {
    background-color: rgba(255, 255, 0, 0.8);
}

.node p{
    position: absolute;
    margin-bottom: 0px; display:block; 
    white-space: nowrap;
    bottom: -22px;
    left: 50%;
    transform: translate(-50%, 0%);
}
.node code, .node.INFORM subject,  .node.INFORM content, .node.ACTION .kvars, .node.ACTION .katts{
    display: none;
}
.input_error{
    background-color:red;
}
.node .kvars{
    display: none;
}
.node.START{
    left: 100px;
    top: 100px;
    background-image: url("../images/START.svg");
}

.node.ACTION{
    left: 300px;
    top: 100px;
    background-image: url("../images/ACTION.svg");
}
.node.INFORM{
    left: 400px;
    top: 300px;
    background-image: url("../images/INFORM.svg");
}
.node.SCRIPT{
    left: 400px;
    top: 300px;
    background-image: url("../images/SCRIPT.svg");
}
.node.TIMER{
    left: 400px;
    top: 300px;
    background-image: url("../images/TIMER.svg");
}
.node.SUB{
    left: 400px;
    top: 300px;
    background-image: url("../images/SUB.svg");
}
.node.AND{
    left: 400px;
    top: 300px;
    background-image: url("../images/AND.svg");
}
.node.OR{
    left: 400px;
    top: 300px;
    background-image: url("../images/OR.svg");
}

.node.END{
    left: 800px;
    top: 300px;
    background-image: url("../images/END.svg");
}

.node.ST_DONE{
    background-color: rgba(0, 255, 0, 0.8);
}
.node.ST_RUN{
    background-color: rgba(0, 0, 255, 0.8);
}

#rightPanel {
    padding: 0px;
    background: #ffffff;
    box-shadow: 0 4px 8px 0 #000000cc, 0 6px 20px 0 #000000cc;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 250px;
    height: 100vh;
    border: 1px solid #0000004c;
}

#rightPanel #close_button{
    position: absolute;
    top: 0px;
    right: 2px;
}
